body {
    margin: auto;
    font-family: Arial,sans-serif;;
    font-size: 20px;
    line-height: 18px;
    background-color: #FDEEF4;

}
.signup-header{
    background-color: #e0245e;
    color: white;
    text-align: center;
}
.text-center {
    text-align: center;
}

.center-align {
    width: 50%;
    margin: auto;
}

.light-style {
    font-weight: lighter;
}

.form-header {
    color: seagreen;
}

.nav-margin {
    margin-left: 5px;
}
.error {
    color: red;
}
.inline-text {
    display: inline;
}

.title {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}


hr {
    border-width: 2px;
    border-color: lightpink;
}
.blog {
    font-size: 14px;
    margin-bottom: 10px;
}

hr {
    margin-top: 0;
}
.panel-body  {
    word-break: break-all;
}

.created {
    margin-top: 0;
    color:  #999;
    font-size: 14px;
    font-weight: normal;
    margin-right: 5px;
}
.align-top-right {
    /*float: right;*/
}
.red-heart {
    color: red;
}
.red-heart:hover {

}
.cancel-btn {
    text-decoration: none !important;
}

.edit-btn {
    text-decoration: none !important;
}

.author {
    margin-top: 0;
    text-align: right;
    color:  #999;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
}

.content {
    display: none;
}

.read-more {
    font-size: 14px;
    color: deeppink;
    cursor: pointer;
    margin-left: 10px;
}

.read-more:hover{
    color: deepskyblue;
}

.comment {
    /*margin-top: 0;
    right: 0px;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;*/
}

.blog-href {
    text-decoration: None;
}

.go {
    color: green;
}

.cancel {
    color: red;
}
.error-msg {
    color: red;
}

.comment-text {
    font-size: 14px;
}